In [ ]:
#Primary Key- Attribute in a table which has all unique values 
#and does not contain any NULL or empty cell.

In [ ]:
data_= {'Roll No.':[1,2,3],
        'Name':['Akash Goel','Akshita','Akshita'],
       'Age':[20,19,19],
       'Mobile No.':['9812348910',None,'7838869312']}

In [ ]:
#identify the column which can used as Primary Key
def identify(data_):
  primary= []

  #traversing all the attributes
  for key in data_.keys():
    #storing the values of an attribute
    values= data_[key]

    #check for null values
    if None in values:
      continue

    #sort the data to check for duplicate values in an attribute
    values.sort()

    #now check for duplicates
    i=1
    while i<len(values):
      #check for duplicates
      if values[i]==values[i-1]:
        break
      i+=1

    #if all unique and non-null values
    if i==len(values):
      primary.append(key)
      #print(f'{key} can be a possible Primary Key.')

  return primary

In [ ]:
import pandas as pd

In [ ]:
#convert the data into a table
index_= identify(data_)
print(index_)

['Roll No.']

In [ ]:
#set index as primary key
table= pd.DataFrame(data= data_, index= data_[index_[0]])

In [ ]:
table

   Roll No.        Name  Age  Mobile No.
1         1  Akash Goel   19  9812348910
2         2     Akshita   19        None
3         3     Akshita   20  7838869312